:root {
  --color-body-bg: #e5ecf0;
  --color-section-bg: white;
  --color-divider: #ccc;
  --color-text-primary: black;
  --color-text-secondary: #999;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
